$primary-color: #BF3A00;
$second-color: #862900;
$white-color: #fff;
$gray-color: #F5F5F5;

$txt-white: #fff;
$txt-black: #000;
$txt-gray: #464646;
$txt-gray2: #A1A1A1;
$txt-gray3: #EDEDED;
$txt-blue: #3C5A9A;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;